@tailwind base;

.card-row {
display: flex;
    font-size: .85rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    background-clip: border-box;
}

.logo path {
    fill: #ffffff;
}

.glide-tab {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.125rem /* 2px */;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.667;
    height: 3rem; /* 48px */
    text-transform: uppercase;

    @apply text-gray-500;
    @apply bg-gray-100;
    @apply px-3;
    @apply w-1/5;
    @apply lg:w-[14.285%];
    @apply hover:bg-gray-200;
    @apply border-r;
    @apply border-r-gray-200;
}

.glide-active {
    @apply bg-white;
    @apply text-pgl-red;
    @apply font-bold;
    @apply border-b-2;
    @apply border-b-pgl-red;
    @apply hover:bg-white;
    @apply shadow;
}

.view-more {
    @apply text-pgl-red;
    @apply font-bold;
    @apply text-sm;
    @apply hover:text-pgl-red;
    @apply hover:underline;
}