---
import Layout from "../layouts/Layout.astro";
import Builder from "../components/Builder.jsx";
import Logo from '../components/Logo.jsx';
import "../styles/builder.css";
---

<Layout title="D&amp;D 4e Character Builder">
  <div class="h-full w-full flex flex-col lg:flex-row justify-between">
    <div class="h-16 lg:h-full lg:w-[14.14%] flex lg:flex-col bg-pgl-red text-ivory items-center border-r shrink-0 justify-between">
      <div class="logo flex justify-center w-24 lg:w-1/2 m-5">
          <Logo />
      </div>
      <ul class="hidden md:flex lg:flex-col h-full items-center mr-5">
        <li class="button flex h-12 px-3 font-bold text-lg lg:mb-6 shrink-0">Link</li>
        <li class="button flex h-12 px-3 font-bold text-lg lg:mb-6 shrink-0">Link</li>
        <li class="button flex h-12 px-3 font-bold text-lg lg:mb-6 shrink-0">Link</li>
        <li class="button flex h-12 px-3 font-bold text-lg lg:mb-6 shrink-0">Link</li>
        <li class="button flex h-12 px-3 font-bold text-lg lg:mb-6 shrink-0">Link</li>
        <li class="button flex h-12 px-3 font-bold text-lg lg:mb-6 shrink-0">Link</li>
      </ul>
    </div>
    <div class="grow flex flex-col bg-gray-50 p-4">
      <Builder client:load />
    </div>
  </div>
</Layout>
