--- 
import Layout from "../layouts/Layout.astro";
import BuilderNav from "../components/BuilderNav.jsx";
import ClassesTable from "../components/tables/ClassesTable";
import FeatsTable from "../components/tables/FeatsTable";
import RacesTable from "../components/tables/RacesTable";
import BackgroundsTable from "../components/tables/BackgroundsTable";
import Nav from "../components/Nav.astro";
import "../styles/builder.css";
---

<Layout title="D&amp;D 4e Character Builder">
  <Nav />
  <div class="h-full w-full flex flex-col lg:flex-row justify-start overflow-x-hidden lg:justify-end">
    <div class="pt-16 flex flex-col m-4 grow lg:pt-0 lg:max-w-[84%]">
      <BuilderNav client:load/>
      <div id="classesTable" class="visible"><ClassesTable client:load/></div>
      <div id="racesTable" class="hidden"><RacesTable client:idle/></div>
      <!-- <div id="backgroundsTable" class="hidden"><BackgroundsTable client:idle/></div> -->
      <div id="statsTable" class="hidden"></div>
      <div id="skillsTable" class="hidden"></div>
      <div id="powersTable" class="hidden"></div>
      <div id="featsTable" class="hidden"><FeatsTable client:idle/></div>
    </div>
  </div>
</Layout>
