---
import Layout from "../layouts/Layout.astro";
import BuilderNav from "../components/BuilderNav.jsx";
import BuilderContent from "../components/BuilderContent.jsx";
import Logo from '../components/Logo.jsx';
import "../styles/builder.css";
---

<Layout title="D&amp;D 4e Character Builder">
  <div class="h-full w-full flex justify-between">
    <div class="w-[14.14%] flex flex-col bg-pgl-red text-ivory items-center border-r">
      <div class="logo flex justify-center w-1/2 my-5">
          <Logo />
      </div>
      <div class="flex h-12 px-3 mb-6 button justify-center font-bold text-lg">Not Me</div>
      <div class="flex h-12 px-3 mb-6 button justify-center font-bold text-lg">Not Me</div>
      <div class="flex h-12 px-3 mb-6 button justify-center font-bold text-lg">Not Me</div>
      <div class="flex h-12 px-3 mb-6 button justify-center font-bold text-lg">Not Me</div>
      <div class="flex h-12 px-3 mb-6 button justify-center font-bold text-lg">Not Me</div>
      <div class="flex h-12 px-3 mb-6 button justify-center font-bold text-lg">Not Me</div>
      <div class="flex h-12 px-3 mb-6 button justify-center font-bold text-lg">Not Me</div>
    </div>
    <div class="grow flex flex-col bg-gray-50 p-2">
      <BuilderNav client:load/>
      <BuilderContent client:load />
    </div>
  </div>
</Layout>
