---
import Layout from '../layouts/Layout.astro';
import '../styles/landing.css';
---
<Layout title="D&amp;D 4e Compendium">
    <div class="flex flex-col h-full w-full bg-offwhite sm:flex-row justify-center items-center">
        <a href="http://ref.materialcontext.io/classes/ardent" 
            class="grow h-full font-medium text-xl m-3 p-3 bg-pgl-red hover:bg-ivory text-ivory hover:text-pgl-red rounded shadow-sm text-center">Classes</a>
        <a href="http://ref.materialcontext.io/races/goldDwarf" 
            class="grow h-full font-medium text-xl m-3 p-3 bg-pgl-red hover:bg-ivory text-ivory hover:text-pgl-red rounded shadow-sm text-center">Races</a>
        <a href="http://ref.materialcontext.io/backgrounds/ancient" 
            class="grow h-full font-medium text-xl m-3 p-3 bg-pgl-red hover:bg-ivory text-ivory hover:text-pgl-red rounded shadow-sm text-center">Backgrounds</a>
        <a href="http://ref.materialcontext.io/powers/alienist" 
            class="grow h-full font-medium text-xl m-3 p-3 bg-pgl-red hover:bg-ivory text-ivory hover:text-pgl-red rounded shadow-sm text-center">Powers</a>
    </div>
</Layout>