---
import Layout from '../layouts/Layout.astro';
import '../styles/landing.css';
---
<Layout title="D&amp;D 4e Compendium">
    <div class="flex flex-col h-full w-full bg-ivory sm:flex-row justify-center items-center">
        <a href="http://ref.materialcontext.io/classes/arden" class="text-pgl-red hover:text-prussian">Classes</a>
        <a href="http://ref.materialcontext.io/races/goldDwarf" class="text-pgl-red hover:text-prussian">Races</a>
        <a href="http://ref.materialcontext.io/backgrounds/ancient" class="text-pgl-red hover:text-prussian">Backgrounds</a>
        <a href="http://ref.materialcontext.io/powers/alienist" class="text-pgl-red hover:text-prussian">Powers</a>
    </div>
</Layout>