---
import Layout from '../layouts/Layout.astro';
import Login from '../components/Login.astro';
import '../styles/landing.css';
---

<Layout title="D&amp;D 4e Login">
	<main class="h-full flex">
		<section id="login" class="w-full md:w-1/2 p-4 bg-ivory flex flex-col justify-center items-center">
			<Login />
		</section>
		<section 
			id="welcome" 
			class="hidden md:flex w-1/2 p-4 bg-pgl-red">
			<div class="flex w-full flex-col justify-center items-center p-6">
				<h1 class="flex justify-center items-center leading-none mb-5"><a class="text-ivory font-semibold" href="http://dnd.materialcontext.io">Foundry</a></h1>
				<h1 class="flex justify-center items-center leading-none"><a class="text-ivory font-semibold" href="http://ref.materialcontext.io/compendium">Compendium</a></h1>
			</div>-
		</section>
	</main>
</Layout>
