---
---

<div class="card-row odd:bg-gray-50">
  <span class="w-1/5 px-3 py-2 md:min-w-[125px]">Hello</span>
  <span class="w-1/5 px-3 py-2 md:min-w-[125px]">Hello</span>
  <span class="w-1/5 px-3 py-2 md:min-w-[125px]">Hello</span>
  <span class="w-1/5 px-3 py-2 md:min-w-[125px]">This is some other stuff</span>
  <span class="w-1/5 px-3 py-2 md:min-w-[125px]">Hello</span>
</div>
