---
import ClassCard from './ClassCard.astro';
---

<div class="h-full flex flex-col px-3 py-3">
  <div class="flex h-12">
    <div class="flex w-1/5 h-12 px-3 pb-3 button font-semibold">Class</div>
    <div class="flex w-1/5 h-12 px-3 pb-3 button font-semibold">Role</div>
    <div class="flex w-1/5 h-12 px-3 pb-3 button font-semibold">Power Source</div>
    <div class="flex w-1/5 h-12 px-3 pb-3 button font-semibold">Key Ability</div>
    <div class="flex w-1/5 h-12 px-3 pb-3 button font-semibold">Source</div>
  </div>
  <div>
    <ClassCard />
    <ClassCard />
    <ClassCard />
    <ClassCard />
    <ClassCard />
  </div>
</div>
