---
---

<!-- Create an astro login page -->
<div class="w-[320px] p-6 flex flex-col justify-center">
  <div class="panel-heading">
    <h3 class="panel-title">Please Sign In</h3>
  </div>
  <div class="panel-body">
    <form role="form" action="/auth" method="post">
      <fieldset>
        <div class="mb-5">
          <label for="email">email</label>
          <input
            class="form-control"
            placeholder="E-mail"
            name="email"
            type="email"
            autofocus
          />
        </div>
        <div class="mb-5">
          <label for="password">Password</label>
          <input
            class="form-control"
            placeholder="Password"
            name="password"
            type="password"
            value=""
          />
        </div>
        <!-- Change this to a button or input when using this as a form -->
        <input
          type="submit"
          name="login"
          value="Login"
          class="w-full button button-sm shadow bg-pgl-red text-ivory"
        />
      </fieldset>
    </form>
  </div>
</div>
