---
import Logo from '../components/Logo.jsx'
---

<!-- Create an astro login page -->
<div class="w-[320px] p-6 flex flex-col justify-center bg-offwhite shadow-lg">
  <div class="logo flex justify-center">
    <Logo />
  </div>
  <div class="mt-5">
    <form role="form" action="/auth" method="post">
      <fieldset>
        <a href="http://ref.materialcontext.io/classes/warlord" 
           class="m-0 w-full border border-b-zinc-200 text-zinc-600 text-xl">
            Classes
        </a>
        <a href="http://ref.materialcontext.io/races/genasi" 
           class="w-full border border-b-zinc-200 text-zinc-600 text-xl">
            Races
        </a>
        <a href="http://ref.materialcontext.io/backgrounds/ancient" 
           class="w-full border border-b-zinc-200 text-zinc-600 text-xl">
            Backgrounds
        </a>
        <a href="http://ref.materialcontext.io/powers/warlord" 
           class="w-full border border-b-zinc-200 text-zinc-600 text-xl">
            Powers
        </a>
      </fieldset>
    </form>
  </div>
</div>
