---
import Logo from '../components/Logo.jsx'
---

<!-- Create an astro login page -->
<div class="w-[320px] p-6 flex flex-col justify-center">
  <div class="logo flex justify-center">
    <Logo />
  </div>
  <div class="mt-5">
    <form role="form" action="/auth" method="post">
      <fieldset>
        <a href="http://ref.materialcontext.io/classes/warlord" 
           class="mb-5 w-full button button-sm shadow bg-pgl-red text-xl text-ivory">
            Classes
        </a>
        <a href="http://ref.materialcontext.io/races/genasi" 
           class="mb-5 w-full button button-sm shadow bg-pgl-red text-xl text-ivory">
            Races
        </a>
        <a href="http://ref.materialcontext.io/backgrounds/ancient" 
           class="mb-5 w-full button button-sm shadow bg-pgl-red text-xl text-ivory">
            Backgrounds
        </a>
        <a href="http://ref.materialcontext.io/powers/warlord" 
           class="mb-5 w-full button button-sm shadow bg-pgl-red text-xl text-ivory">
            Powers
        </a>
      </fieldset>
    </form>
  </div>
</div>
